<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns:x="xhtml">

  <script type="text/javascript" defer="true">
    <![CDATA[

		]]>
  </script>
  <style>
.badge {
  display: inline-block;
  min-width: 30px;
  font-size: 8px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  border-radius: 10px;
}

.badge:empty {
  display: none;
}

a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.z-icon-bell{
  font-size:24px;
}

</style>
  <toolbarbutton label="" popup="alertNotification, position=after_start, type=toggle" iconSclass="z-icon-bell" id="alertnotification" style="float:left;overflow:hidden;background:none;padding:none;color:#FFFFFF;" />

  <popup id="alertNotification" style="max-width:100%" sclass="desktop-header-font desktop-header-username">

    <!-- <html>
					 	<![CDATA[ 
					            <br />
					 	        No New Notification
					 	        <br /> 
					 	       <br />
					    ]]>
					 </html>
					 -->


    <window use="com.phoenix.ethemes.window.PHeaderAlertNotificationWindow" style="max-width:300px" />
  </popup>
</zk>