<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2009 Low Heng Sin
Copyright (C) 2009 Idalica Corporation
-->
<?component name="vendorLogo" inline="true" macroURI="/theme/e8/zul/login/vendor-logo.zul"?>
<?component name="loginInfo" macroURI="/theme/e8/zul/login/login-info.zul"?>
<?component name="versionInfo" inline="true" macroURI="/theme/e8/zul/login/version-info.zul"?>
<?component name="loginLinks" inline="true" macroURI="/theme/e8/zul/login/login-links.zul"?>
<div>
	<vendorLogo/>
	<loginInfo if="${desktop.execution.serverName.equals(&quot;127.0.0.1&quot;) or desktop.execution.serverName.startsWith(&quot;demo&quot;) or desktop.execution.serverName.startsWith(&quot;test&quot;) or desktop.execution.serverName.startsWith(&quot;triage&quot;)}"/>
	<versionInfo/>
	<loginLinks/>
</div>
