<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<div sclass="desktop-header" use="org.adempiere.webui.panel.HeaderPanel" id="header">
		<hbox vflex="1" hflex="1" align="center">
			<hbox  height="100%" pack="start" align="center" sclass="desktop-header-left" hflex="1">
					<button id="menuButton" sclass="btn-small"/>
					<image id="logo"/>
					
					<div id="menuLookup"/>
					
			</hbox>
			<hbox  hflex="min" apply="org.adempiere.webui.panel.UserPanel" align="end"
					sclass="desktop-user-panel">
					<hbox  align="end">
					<image id="user_image" sclass="user-image" style="width: 40px;height: 40px;border-radius: 50%;	margin:auto;"/>
					<a iconSclass="z-icon-caret-down"
								popup="popupUserAction" />
								<label style="display:block; font-size: 12px; color:#E4E4E4;"
							use="org.adempiere.webui.component.Label" id="loginUserAndRole"
							multiline="true" sclass="desktop-header-font desktop-header-username"/>
							<menupopup id="popupUserAction">
					<menuitem id="changeRole" iconSclass="z-icon-user" />
					<menuseparator />
					<menuitem sclass="desktop-header-font link"
						id="logout" iconSclass="z-icon-sign-out" />
					<!-- Should not be displayed -->
					<menuitem sclass="desktop-header-font link"
						id="feedback" iconSclass="z-icon-cog" visible="false" />
					<menuitem sclass="desktop-header-font link"
						id="preference" iconSclass="z-icon-cog" visible="false" />

				</menupopup>
							
						<hbox align="center" id="userPanelLinksContainer" hflex="min">
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="feedback"/>
							<separator orient="vertical" bar="true" height="13px"/>
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="preference"/>
							<separator orient="vertical" bar="true" height="13px"/>
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="changeRole"/>
							<separator orient="vertical" bar="true" height="13px"/>
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="logout"/>
						</hbox>
					</hbox>
			</hbox>
		</hbox>
	</div>
</zk>