<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<borderlayout id="layout" sclass="login-window">
		<center border="none" autoscroll="true"
			style="background-color: transparent;">
			<vbox pack="center" align="center"
				style="background-color: transparent;" hflex="1" vflex="1">
				<window use="org.adempiere.webui.window.LoginWindow"
					id="loginWindow" />
				<html>
					<div id="video-background-1"
						class="ui--video-background-video hidden-phone ">
						<image src="theme/gs1/images/login-background.png" />
					</div>
					<div class="ui--video-background">
						<div class="ui--gradient"></div>
					</div>
				</html>
			</vbox>
		</center>
		<east sclass="login-east-panel">
			<!--include src="/theme/gs1/zul/login/login-right.zul"/-->
		</east>
		<west sclass="login-west-panel">
			<!--include src="/theme/gs1/zul/login/login-left.zul"/-->
		</west>
		<north sclass="login-north-panel">
			<!--include src="/theme/gs1/zul/login/login-top.zul"/-->
		</north>
		<south sclass="login-south-panel">
			<!--include src="/theme/gs1/zul/login/login-bottom.zul"/-->
		</south>
	</borderlayout>
</zk>