<?xml version="1.0" encoding="UTF-8"?>
<zk><script type="text/javascript" defer="true">
		const keyboardChangerSpan =
		document.querySelector(".keyboard-changer span")
		if(!window.currentKeyboard){ window.currentKeyboard = "unicode";
		}

		if(keyboardChangerSpan){ keyboardChangerSpan.onclick =
		function(e) { const data = keyboardChangerSpan.innerHTML; const
		endsWithUnicode = data.trim().endsWith("Unicode");
		if(endsWithUnicode){ currentKeyboard = "traditional";
		keyboardChangerSpan.innerHTML = "Keyboard: Traditional"; } else
		{ currentKeyboard = "unicode"; keyboardChangerSpan.innerHTML =
		"Keyboard: Unicode"; } } }
	</script>

	<div sclass="desktop-header" use="com.phoenix.ethemes.panel.PHeaderPanel" id="header">
		<hbox vflex="1" hflex="1" align="center" pack="center">
			<hbox hflex="5" height="100%" pack="start" align="center" sclass="desktop-header-left" >
			
					<image id="logo"/>
					<div id="menuLookup"/>
					<button id="menuButton" sclass="btn-small" style="background-color: transparent;"/>
					
			</hbox>
			<hbox hflex="min" apply="com.phoenix.ethemes.panel.PUserPanel" align="end" pack="center" sclass="desktop-user-panel">
					<hbox hflex="min" pack="center" align="center">
					<button onClick='alertNotification.open(self, "after_start")' iconSclass="z-icon-bell" sclass="btn-small header-alert-notification-bell"  id="alert_bell" style="margin-right:5px;font-size:25px;color:#FFFFFF;background:none;background-color:none"/>
					<popup  id="alertNotification" style="max-width:100%" sclass="desktop-header-font desktop-header-username">	
					<window use="com.phoenix.ethemes.window.PHeaderAlertNotificationWindow" />
					</popup>
					</hbox>
					<hbox hflex="min" pack="center" align="center">
					<image onClick='popupUserAction.open(self,"after_start")' id="user_image" style=" cursor:pointer;width: 38px; height: 38px;border-radius: 50%;margin:auto;"/>
					<menupopup id="popupUserAction">
							<menuitem id="changeRole" iconSclass="z-icon-user" />
							<menuseparator />
							<menuitem sclass="desktop-header-font link"
								id="logout" iconSclass="z-icon-sign-out" />
							<menuseparator />
							<menuitem sclass="keyboard-changer" iconSclass="z-icon-keyboard-o" label="Keyboard: Unicode" />
							<!-- Should not be displayed -->
						</menupopup>
					</hbox>
					<hbox hflex="min" pack="center" align="center">
					<label style="display:block;color:#FFFFFF;margin-left:10px;"	use="org.adempiere.webui.component.Label" id="loginUserAndRole"
					multiline="true" sclass="desktop-header-font desktop-header-username"/>
						
					</hbox>
					<hbox align="center" id="userPanelLinksContainer" hflex="min" visible="false">
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="feedback"/>
							<separator orient="vertical" bar="true" height="13px"/>
							<toolbarbutton use="org.adempiere.webui.component.ToolBarButton"
								sclass="desktop-header-font link" id="preference"/>
					</hbox>
				</hbox>
			</hbox>
	</div>
</zk>
