<?xml version="1.0" encoding="UTF-8"?>
<zk>
	<script type="text/javascript" defer="true">
		const keyboardChangerSpan =
		document.querySelector(".keyboard-changer span")
		if(!window.currentKeyboard){ window.currentKeyboard = "unicode";
		}

		if(keyboardChangerSpan){ keyboardChangerSpan.onclick =
		function(e) { const data = keyboardChangerSpan.innerHTML; const
		endsWithUnicode = data.trim().endsWith("Unicode");
		if(endsWithUnicode){ currentKeyboard = "traditional";
		keyboardChangerSpan.innerHTML = "Keyboard: Traditional"; } else
		{ currentKeyboard = "unicode"; keyboardChangerSpan.innerHTML =
		"Keyboard: Unicode"; } } }
	</script>
	<div sclass="desktop-header navbar"
		use="com.phoenix.themes.panel.PHeaderPanel" id="header">

		<!-- Brand Logo -->
		<hlayout height="100%"
			sclass="pull-left navbar-brand desktop-header-left">
			<image id="logo" />
			<div id="menuLookup" />
			<button id="menuButton" sclass="btn-small" label=" Modules" />
		</hlayout>
		<!-- Navbar -->
		<hlayout apply="com.phoenix.themes.panel.PUserPanel"
			sclass="desktop-header-right nav-user pull-right" spacing="0">
			<!-- 
				<a id="atask" iconSclass="z-icon-tasks" popup="taskpp, position=after_end, type=toggle" sclass="grey">
				<label value="4" sclass="badge badge-grey"/>
				</a>
				<a id="anoti" iconSclass="z-icon-bell" popup="notipp, position=after_end, type=toggle" sclass="purple">
				<label value="8" sclass="badge badge-important"/>
				</a>
				<a id="amsg" iconSclass="z-icon-envelope" popup="msgpp, position=after_end, type=toggle" sclass="green">
				<label value="5" sclass="badge badge-success"/>
				</a>
			-->
			<!-- User menu -->
			<div sclass="user-menu light-blue">
				<div popup="popupUserAction">
					<hlayout>
						<div style="cursor: pointer">
							<image id="user_image" sclass="user-image" />
							<a iconSclass="z-icon-caret-down"
								popup="popupUserAction">
							</a>
						</div>
						<label style="display:block; font-size: 12px;"
							use="org.adempiere.webui.component.Label" id="loginUserAndRole"
							multiline="true" />
					</hlayout>
				</div>
				<menupopup id="popupUserAction">
					<menuitem id="changeRole" iconSclass="z-icon-user" />
					<menuitem sclass="desktop-header-font link"
						id="logout" iconSclass="z-icon-sign-out" />
					<menuseparator />
					<menuitem sclass="keyboard-changer"
						iconSclass="z-icon-keyboard-o" label="Keyboard: Unicode" />
					<!-- Should not be displayed -->
					<menuitem sclass="desktop-header-font link"
						id="feedback" iconSclass="z-icon-cog" visible="false" />
					<menuitem sclass="desktop-header-font link"
						id="preference" iconSclass="z-icon-cog" visible="false" />
				</menupopup>
			</div>
		</hlayout>

	</div>
</zk>